.el-main{
    background-color: #F2F6FC;
    overflow-y: scroll !important;
    height: calc(100vh - 120px);
}
.el-main::-webkit-scrollbar{
    width: 10px;
}
.el-main::-webkit-scrollbar-thumb{
    border-radius: 20px;
    -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.2);
}
.el-main::-webkit-scrollbar-track{
    border-radius: 20px;
    -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.1);
}
.el-table::-webkit-scrollbar{
    width: 5px;
}
.el-table::-webkit-scrollbar-thumb{
    border-radius: 20px;
    -webkit-box-shadow:inset 0 0 4px rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.2);
}
.el-table::-webkit-scrollbar-track{
    border-radius: 20px;
    -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0);
    background-color: transparent;
}